
.button {
	display: block;
	opacity: 1.0;
	
	text-align: center;
	align-content: center;
	
	border-radius: 2px;
}

#button-container {
	position: relative;
	top: 13%;
	left: 10%;
	
	display: grid;
	width: 80%;
	height: 82%;
	align-items: center;
	justify-items: center;
	
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.button-nav-top {
	width: 100%;
	height: 0%;
	justify-self: start;
	
	font-size: var(--font-size-5);
	
	background: var(--color-image-2);
	color: rgb(1 1 1 / 0.0);
	border-left: 5px solid var(--color-main);
	
	pointer-events: none;
	
	animation: 0.9s cubic-bezier(0.78, 0.15, 0.28, 0.85) forwards 1.0s button-appearing;
	
	/*
	transition: 
		width 0.2s,
		height 0.7s cubic-bezier(0.78, 0.15, 0.28, 0.85) 1.0s,
		color 0.4s linear 1.5s,
		pointer-events 0.5s linear 1.5s;
	
	@starting-style {
		height: 0%;
		color: rgb(1 1 1 / 0.0);
		pointer-events: none;
	}
	*/
}

@keyframes button-appearing {
	0% {
		height: 0%;
		pointer-events: none;
	}
	
	55% {
		color: rgb(1 1 1 / 0.0);
	}
	
	77% {
		height: 75%;
		pointer-events: none;
	}
	
	100% {
		height: 75%;
		color: var(--color-text);
		pointer-events: auto;
	}
}

.button-nav-top:hover {
	width: 104%;
	background: var(--color-image-2-highlighted);
	
	transition: 
		width 0.2s;
}

.button-nav-top:not(:hover) {
	width: 100%;
	background: var(--color-image-2);
	
	transition: 
		width 0.4s;
}

#special-button {
	width: 42%;
	height: 10.5%;
	margin: auto;
	margin-top: 6%;
	
	font-size: var(--font-size-2);
	
	background: var(--color-image-1);
	color: var(--color-text);
	
	border-left: 5px solid var(--color-image-1);
	border-right: 5px solid var(--color-image-1);
	
	pointer-events: none;
	animation: 1.5s ease-in forwards special-button-appearing;
}

@keyframes special-button-appearing {
	0% {
		opacity: 0%;
	}
	
	90% {
		pointer-events: none;
	}
	
	100% {
		opacity: 100%;
		pointer-events: auto;
	}
}

#special-button:hover {
	background: var(--color-image-2-highlighted);
	border-color: var(--color-main);
}

#special-button:not(:hover) {
	background: var(--color-image-2);
	border-color: var(--color-image-1);
	
	transition: 
		border-color 0.7s;
}

@media (width >= 1200px) and (height >= 600px) {
	.button-nav-top {
		font-size: var(--font-size-6);
	}
}


@media (width >= 1700px) and (height >= 800px) {
	.button-nav-top {
		font-size: var(--font-size-4);
	}
}