.button-nav {
	display: block;
	opacity: 1.0;
	
	width: 95%;
	height: 80%;
	min-width: 0;
	min-height: 0;
	background: var(--color-main);
	color: var(--color-text);
	
	text-align: center;
	align-content: center;
	overflow: hidden;
	text-wrap: nowrap;
	
	border-radius: 2px;
	
	transition: 
		box-shadow 0.2s,
		width 0.2s,
		height 0.4s cubic-bezier(0.78, 0.15, 0.28, 0.85) 0.2s,
		color 0.3s linear 0.5s,
		font-size 0.2s linear;
		
	@starting-style {
		height: 0%;
		color: rgb(1 1 1 / 0.0);
	}
}

.button[disabled] {
	pointer-events: none;
}

#button-container {
	display: grid;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-items: center;
	
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.short {
	
}

.long {
	
}

.longest {
	
}

.button-nav:hover {
	box-shadow: 4px -4px 0px var(--color-main);
	width: 94%;
	
	transition: 
		box-shadow 0.2s,
		width 0.2s;
}

.active {
	background: var(--color-main);
	color: var(--color-text);
}

.label {
	transition: 
		font-size 0.2s linear;
}