
#nav-wrap {
	position: absolute;
	display: flex;
	top: 10%;
	left: 0px;
	z-index: 1;
	
	height: 90%;
	width: 100%;
}

#main-col-1 {
	display: block;
	flex: 6 0 0;
	height: 100%;
}

#main-col-2 {
	display: block;
	flex: 32 0 0;
	height: 100%;
}

#main-col-3 {
	display: block;
	flex: 6 0 0;
	height: 100%;
}

#main-col-4 {
	display: block;
	flex: 50 0 0;
	height: 100%;
}

#main-col-5 {
	display: block;
	flex: 6 0 0;
	height: 100%;
}

#nav-container {
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}
	
#top-nav {
	flex-grow: 0.8; /*0.8*/
	border-radius: 0px 0px 20px 20px;
}

#nav-bottom-space {
	flex: 0.2 0 auto;
	height: 1px;
}

#bottom-nav:hover {
	outline: 3px solid var(--color-main);
	
	transition: 
		outline 0.05s;
}

#top-nav {
	flex-shrink: 1;
	flex-basis: auto;
	height: 0px;
	width: 100%;
	
	background: var(--color-image-1);
	
	transition: flex-grow 1.1s ease-out;
	
	@starting-style {
		flex-grow: 0;
	}
}
