
#navigation {
	position: absolute;
	top: 10%;
	left: 0px;
	
	height: 5%;
	width: 100%;
	overflow: hidden;
	
	background: var(--color-image-1);
	
	transform: scale(1, 1);
	transition:
		transform 0.2s;
		
	@starting-style {
		transform: scale(0.3, 1);
	}
}
