
#nav-wrap {
	position: absolute;
	top: 10%;
	left: 0px;
	
	height: 90%;
	width: 100%;
}

#nav-container {
	display: flex;
	width: 26%;
	height: 100%;
	margin: auto;
	
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}
	
#top-nav {
	flex-grow: 0.564;
	border-radius: 0px 0px 50px 50px;
}

#bottom-nav {
	flex-grow: 0.116;
	border-radius: 50px 50px 0px 0px;
}

#nav-divider {
	flex: 0.318 0 auto;
	height: 1px;
}

#bottom-nav:hover {
	outline: 3px solid var(--main-color-3);
	
	transition: 
		outline 0.05s;
}

#top-nav, #bottom-nav {
	flex-shrink: 1;
	flex-basis: auto;
	height: 0px;
	width: 100%;
	
	background: var(--main-color-2);
	
	transition: flex-grow 1.1s ease-out;
	
	@starting-style {
		flex-grow: 0;
	}
}
/*
#main-logo {
	position: absolute;
	top: -12.5%;
	left: 42%;
	width: 16%;
	z-index: 1;
}

#main-logo > img {
	width: 100%;
}
*/
