@import url("../../main-constants.css");

#header {
	display: block;

	width: 100%;
	height: 100%;

	background: var(--color-image-1);

	transform: scale(1, 1);

	&.starting {
		transition:
			transform 0.2s;
			
		@starting-style {
			transform: scale(0.3, 1);
		}
	}

	#main-panel {
		display: flex;
		
		width: 100%;
		height: calc(100% - var(--header-navigation-proportion));
	}

	#navigation {
		display: block;
		
		width: 100%;
		height: var(--header-navigation-proportion);

		overflow: hidden;
	}
}



#info-container {
	display: flex;
	flex-direction: row;
	
	width: 100%;
	height: 100%;

	justify-content: space-around;
	margin: 0;

	.main-info {
		flex: 0 0 25%;

		display: flex;
		flex-direction: row;
		justify-content: center;

		height: 100%;
		
		align-items: center;
		
		overflow: hidden;
		
		color: var(--color-header-text);
		opacity: 1.0;
		
		transition: 
			opacity 0.4s linear 0.3s;
		
		@starting-style {
			opacity: 0.0;
		}

		.icon {
			flex: 0 0 auto;

			display: block;

			width: auto;
			height: 50%;

			margin: 0px 16px 0px 0px;

			text-align: center;
			align-content: center;
			
			transition: 
				transform 0.5s ease-out;

			img {
				height: 100%;
			}
		}

		.label {
			flex: 0 0 auto;

			display: block;

			width: min-content; 
			height: 100%;
			
			text-align: center;
			align-content: center;

			text-wrap: nowrap;
			overflow: hidden;
		}
	}
}



#main-logo {
	flex: 0 0 32%;

	display: block;

	text-align: center;

	opacity: 1.0;
	
	transition: 
		transform 0.7s ease-out,
		opacity 0.4s linear 0.3s;
	
	@starting-style {
		transform: scale(2.3, 2.3);
		opacity: 0.0;
	}

	img {
		position: relative;
		top: 3%;

		height: 94%;
	}
}



#nav-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 100%;
	grid-gap: 0.8%;

	width: 98%;
	height: 100%;

	margin: auto;

	align-items: center;
	justify-items: center;

	.nav {
		width: 100%;
		height: 84%;

		text-decoration: none;

		animation:;
		
		transition: 
			/*width 0.2s,*/
			height 0.4s cubic-bezier(0.78, 0.15, 0.28, 0.85) 0.2s,
			color 0.3s linear 0.5s,
			font-size 0.2s linear;
			
		@starting-style {
			height: 0%;
			color: rgb(1 1 1 / 0.0);
		}
	}
}



.button[disabled] {
	pointer-events: none;
}

@keyframes header-navigation-appearing {
	0% {
		height: 0%;
		color: rgb(1 1 1 / 0.0);
	}

	100% {
		height: 84%;
		color: var(--color-header-text);
	}
}