:root {
	--color-bg: #EFF1F3;
	--color-2: #1F0318;  
	--color-text: #1F0318;
	--color-3: #6F686D;
	--color-4: #0E402D;
	--color-accent: #20FC8F;
	
	--font-family: "Times New Roman";
	--font-size-1: 1.7rem;
	--font-size-2: 1.2rem;
}