#footer {
    display: block;
    width: 96%;
    height: 100%;

    align-content: center;

    cursor: default;

    padding-left: 2%;
    padding-right: 2%;

    background: var(--color-image-1);
    border-top: 3px solid var(--color-main);
    color: var(--color-header-text);

    #main-footer-container {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        margin-top: 10px;

        height: 8vh;
        width: 100%;

        .footer-info-container {
            flex: 0 0 30%;

            display: flex;
            flex-direction: column;

            height: 100%;

            justify-content: space-evenly;
            align-items: center;

            overflow: hidden;

            &.narrow {
                flex: 0 0 15%;

                text-wrap: nowrap;
            }

            div {
                text-wrap: nowrap;
            }

            #footer-logo {
                flex: 0 0 100%;
                
                display: block;

                align-content: center;
                text-align: center;

                img {
                    height: 8vh;
                }
            }
        }
    }
}




#footer-company-name {
    display: block;

    height: 20%;
    width: 100%;

    text-align: center;
    align-content: center;

    opacity: 0.9;
}