<html>
	<head>
        <title>Company Information</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../../static/css/info.css">
		<meta name="description" content="Металлопрокат и другие изделия из металла с доставкой по Ростовской Области">
	</head>
    <body>
		<div class="admin-company-info-container">
			<article id="email" class="admin-company-info">
				<form class="admin-company-info-frame">
					<h2>
						Почта
					</h2>
					<p>
						<input id="mail-input" type="email" value="почта@mail.ru" class="admin-company-info-input" />
					</p>
					<p style="padding-bottom: 10px;">
						<button class="admin-company-info-button" value="ok">Подтвердить</button>
					</p>
				</form>
				<div class="admin-company-info-tab">
					<svg width="50" height="28" viewBox="-15 -15 30 30">
						<rect class="tab-bg" width="100%" height="100%" />
						<path class="tab-triangle" d="M -2 3.5    Q 0 7 2 3.5    L 6 -3.5   Q 8 -7 4 -7  L -4 -7    Q -8 -7 -6 -3.5   Z"/>
					</svg>
				</div>
			</article>
			<article id="address" class="admin-company-info">
				<form class="admin-company-info-frame">
					<h2>
						Адрес
					</h2>
					<p>
						<input id="address-input" type="text" value="просп. Буденновский, 80" class="admin-company-info-input" />
					</p>
					<p style="padding-bottom: 10px;">
						<button class="admin-company-info-button" value="ok">Подтвердить</button>
					</p>
				</form>
				<div class="admin-company-info-tab">
					<svg width="50" height="28" viewBox="-15 -15 30 30">
						<rect class="tab-bg" width="100%" height="100%" />
						<path class="tab-triangle" d="M -2 3.5    Q 0 7 2 3.5    L 6 -3.5   Q 8 -7 4 -7  L -4 -7    Q -8 -7 -6 -3.5   Z"/>
					</svg>
				</div>
			</article>
			<article id="phone" class="admin-company-info">
				<form class="admin-company-info-frame">
					<h2>
						Телефон
					</h2>
					<p>
						<input id="phone-input" type="tel" value="+1 999 99 99 999" class="admin-company-info-input" />
					</p>
					<p style="padding-bottom: 10px;">
						<button class="admin-company-info-button" value="ok">Подтвердить</button>
					</p>
				</form>
				<div class="admin-company-info-tab">
					<svg width="50" height="28" viewBox="-15 -15 30 30">
						<rect class="tab-bg" width="100%" height="100%" />
						<path class="tab-triangle" d="M -2 3.5    Q 0 7 2 3.5    L 6 -3.5   Q 8 -7 4 -7  L -4 -7    Q -8 -7 -6 -3.5   Z"/>
					</svg>
				</div>
			</article>
		</div>
	</body>
</html>