#main-panel {
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 10%;
	width: 100%;
	
	background: var(--main-color-2);
}

#info-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 82%;
	height: 100%;
	margin: auto;
}

.main-info {
	flex: 0 0 auto;
	display: grid;
	height: 100%;
	width: 28%;
	grid-template-columns: 1fr 3fr;
	
	overflow: hidden;
	
	color: var(--main-color-1);
	font-size: var(--font-size-6);
}

.main-info > div:last-child {
	width: 100%;
	
	text-align: center;
	align-content: space-around;
}

.icon {
	align-content: center;
}

.icon > img {
	margin-left: 50%;
}

#logo-wrap {
	flex: 1 1 auto;
}

#main-logo {
	width: 15%;
}

#main-logo > img {
	width: 100%;
}
