

#main-panel {
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	
	height: 10%;
	width: 100%;
	
	background: var(--color-image-1);
	
	transform: scale(1, 1);
	transition:
		transform 0.2s;
		
	@starting-style {
		transform: scale(0.3, 1);
	}
}

#main-logo {
	flex: 0 0 44%;
	display: block;
	text-align: center;
}

#main-logo > img {
	position: relative;
	top: 50%;
	height: 100%;
	transform: scale(1.5, 1.5);
	opacity: 1.0;
	
	transition: 
		transform 0.7s ease-out,
		opacity 0.4s linear 0.3s;
	
	@starting-style {
		transform: scale(2.3, 2.3);
		opacity: 0.0;
	}
}

#info-container {
	flex: 0 0 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 55%;
	height: 100%;
	margin: 0 0% 0 0;
}

.main-info {
	flex: 0 0 auto;
	display: grid;
	height: 100%;
	
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 100%;
	gap: 7px;
	justify-content: space-between;
	
	overflow: hidden;
	
	color: var(--color-text);
	
	opacity: 1.0;
	
	transition: 
		opacity 0.4s linear 0.3s;
	
	@starting-style {
		opacity: 0.0;
	}
}

.main-info > div:last-child {
	width: 100%;
	
	text-align: center;
	align-content: center;
}

#main-panel-free-space {
	flex: 0 0 6%;
}

.icon {
	text-align: center;
	align-content: center;
}

.icon > img {
	
}

@media (width >= 1100px) and (height >= 550px) {
	#info-container {
		font-size: var(--font-size-8);
	}
	
	.icon {
		transform: scale(0.4, 0.4);
	}
	
	#main-logo > img {
		transform: scale(1.35, 1.35);
	}
}

@media (width >= 1200px) and (height >= 600px) {
	#info-container {
		font-size: var(--font-size-8);
	}
	
	.icon {
		transform: scale(0.4, 0.4);
	}
	
	#main-logo > img {
		transform: scale(1.35, 1.35);
	}
}

@media (width >= 1300px) and (height >= 650px) {
	#info-container {
		font-size: var(--font-size-7);
	}
	
	.icon {
		transform: scale(0.4, 0.4);
	}
	
	#main-logo > img {
		transform: scale(1.38, 1.38);
	}
}

@media (width >= 1400px) and (height >= 700px) {
	#info-container {
		font-size: var(--font-size-7);
	}
	
	.icon {
		transform: scale(0.5, 0.5);
	}
	
	#main-logo > img {
		transform: scale(1.45, 1.45);
	}
}

@media (width >= 1500px) and (height >= 750px) {
	#info-container {
		font-size: var(--font-size-6);
	}
	
	.icon {
		transform: scale(0.5, 0.5);
	}
	
	#main-logo > img {
		transform: scale(1.5, 1.5);
	}
}

@media (width >= 1600px) and (height >= 800px) {
	#info-container {
		font-size: var(--font-size-6);
	}
	
	.icon {
		transform: scale(0.4, 0.4);
	}
	
	#main-logo > img {
		transform: scale(1.55, 1.55);
	}
}

@media (width >= 1700px) and (height >= 850px) {
	#info-container {
		font-size: var(--font-size-5);
	}
	
	.icon {
		transform: scale(0.5, 0.5);
	}
	
	#main-logo > img {
		transform: scale(1.6, 1.6);
	}
}

@media (width >= 1800px) and (height >= 900px) {
	#info-container {
		font-size: var(--font-size-5);
	}
	
	.icon {
		transform: scale(0.7, 0.7);
	}
	
	#main-logo > img {
		transform: scale(1.65, 1.65);
	}
}

@media (width >= 1900px) and (height >= 950px) {
	#info-container {
		font-size: var(--font-size-5);
	}
	
	.icon {
		transform: scale(0.7, 0.7);
	}
	
	#main-logo > img {
		transform: scale(1.7, 1.7);
	}
}