

#main-panel {
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 10%;
	width: 100%;
	
	background: var(--main-color-2);
	
	transform: scale(1, 1);
	transition:
		transform 0.2s;
		
	@starting-style {
		transform: scale(0.3, 1);
	}
}

#info-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 82%;
	height: 100%;
	margin: auto;
}

.main-info {
	flex: 0 0 auto;
	display: grid;
	height: 100%;
	width: 28%;
	
	grid-template-columns: 1fr 3fr;
	gap: 7px;
	justify-content: space-around;
	
	overflow: hidden;
	
	color: var(--main-color-1);
	font-size: var(--font-size-6);
	
	opacity: 1.0;
	
	transition: 
		opacity 0.4s linear 0.3s;
	
	@starting-style {
		opacity: 0.0;
	}
}

.main-info > div:last-child {
	width: 100%;
	
	text-align: center;
	align-content: center;
}

.icon {
	text-align: center;
	align-content: center;
}

.icon > img {
	
}

#main-logo {
	flex: 1 0 auto;
	width: 16%;
	z-index: 1;
	text-align: center;
}

#main-logo > img {
	height: 100%;
	transform: scale(1, 1);
	opacity: 1.0;
	
	transition: 
		transform 0.7s ease-out,
		opacity 0.4s linear 0.3s;
	
	@starting-style {
		transform: scale(2, 2);
		opacity: 0.0;
	}
}