@import url("main-constants.css");
@import url("header-initial.css");
@import url("navigation/navigation-initial.css");
@import url("navigation/buttons-initial.css");

html, body, header {
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
}

body {
	overflow: hidden;
}

p {
	margin: 0px;
}

@layer image {

	#cropped-image {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		
		background: var(--color-image-2);
	}

	.hidden-image {
		opacity: 0.0;
	}

	.appeared-image {
		opacity: 1.0;
		
		transition: 
			opacity 1.5s ease-in;
	}
}

#bottom-divider {
	height: 8px; 
	width: 100%; 
	position: absolute; 
	bottom: -3px; 
	z-index: 1;
}