:root {
	--font-size-1: 2.5rem;
	--font-size-2: 2.2rem;
	--font-size-3: 2.0rem;
	--font-size-4: 1.7rem;
	
	--font-size-5: 1.4rem;
	--font-size-6: 1.2rem;
	--font-size-7: 1.0rem;
	--font-size-8: 0.8rem;
	
	--font-size-9: 0.5rem;
	--font-size-10: 0.3rem;
	
	--color-main: #EA2B1F;
	--color-text: #F5F5F5;
	--color-background: #F5F5F5;
	--color-image-1: #111111;
	--color-image-2: #383836;
	--color-image-2-highlighted: #484846;
	--color-image-3: #8D8D8D;
}


.rfs-1 {
	font-size: 1.0rem;
}

.rfs-2 {
	font-size: 0.95rem;
}

.rfs-3 {
	font-size: 0.9rem;
}

.rfs-4 {
	font-size: 0.85rem;
}

.rfs-5 {
	font-size: 0.8rem;
}

.rfs-6 {
	font-size: 0.75rem;
}

.rfs-7 {
	font-size: 0.7rem;
}

.rfs-8 {
	font-size: 0.65rem;
}

.rfs-9 {
	font-size: 0.6rem;
}

.rfs-10 {
	font-size: 0.55rem;
}

.rfs-11 {
	font-size: 0.5rem;
}

.rfs-12 {
	font-size: 0.45rem;
}

.rfs-13 {
	font-size: 0.4rem;
}

.rfs-14 {
	font-size: 0.35rem;
}

.rfs-15 {
	font-size: 0.3rem;
}

.rfs-16 {
	font-size: 0.25rem;
}

.rfs-17 {
	font-size: 0.2rem;
}

.rfs-18 {
	font-size: 0.15rem;
}

.rfs-19 {
	font-size: 0.1rem;
}

.rfs-20 {
	font-size: 0.05rem;
}



.roboto-mono-normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}