@import url("main-constants.css");
@import url("header.css");
@import url("navigation/navigation.css");
@import url("navigation/buttons.css");

html, body, header {
	margin: 0;
	height: 100%;
}

body {
	overflow: hidden;
}

p {
	margin: 0px;
}

#content-page {
	height: 100%;
	background: var(--main-color-image-2);
}