@import url("orderButton.css");

#overlay-form-container {
    display: none;
    position: absolute;
    z-index: 10;

    top: calc(var(--header-size) + 2vh);
    left: 50%;

    width: max-content;
    height: 80%;

    opacity: 0.0;

    transform: translate(-50%, 0%);

    align-content: center;
}

form {
    display: grid;
    grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d e"
        "f f";
    grid-template-rows: 1fr 1fr 7fr 1fr 1fr;
    grid-template-columns: 5fr 5fr;

    width: 92%%;
    height: 90%;

    margin: auto;
    padding: 4%;
    padding-top: 6%;

    justify-items: center;
    align-items: center;

    background: linear-gradient(30deg, #111111, #FCFCFC 6%, #FCFCFC 70%, #111111);
    color: var(--color-main-text);
    border-radius: 10px;
    border: 4px solid var(--color-main);
}

#input-name {
    grid-area: a;
}

#input-contacts {
    grid-area: b;
}

#input-letter {
    grid-area: c;

    width: 88%;
    height: 92%;

    padding-left: 1%;
    padding-right: 1%;
}

#submit-button {
    grid-area: d;

    padding: 7px;
}

#cancel-button {
    grid-area: e;

    padding: 7px;
}

#remark {
    grid-area: f;
}

/*.form-button {
    display: block;

    width: max-content;
    height: min-content;
    min-width: 80%;

    padding: 10px;

    text-wrap: nowrap;

    background: #F34FFF;
    border: 2px solid black;
}*/

.form-button:hover, .submit-button:hover {
    background: #E43FFF;
}


input {
    width: 88%;
    height: 85%;

    padding-left: 1%;
    padding-right: 1%;
}

.show {
    display: block !important;

    opacity: 1.0 !important;

    animation: popping 0.5s ease-out forwards;
}

@keyframes popping {
    0% {
        opacity: 0;
        transform: translate(-50%, 10%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0%);
    }
}





.subject-to-overlay {
    opacity: 1.0;
}

.inactive {
    opacity: 0.0;
    overflow: hidden;

    animation: fading 1.0s ease-out forwards;
}

@keyframes fading {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}