.order-section {
    display: block;

    width: 100%;
    height: 4vh;

    margin: auto;
    margin: 1vh 0vh 3vh 0vh;

    align-content: center;
}

.order-button {
    display: block;

    width: min-content;
    height: min-content;

    padding: 7px;
    margin: auto;

    text-wrap: nowrap;
}