<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
	<head>
        <title>Metal Partner</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/home.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">
		<meta name="description" content="Металлопрокат и другие изделия из металла с доставкой по Ростовской Области">
		<script src="../static/js/home.js"></script>
	</head>
    <body>
		<div>
			<div id="cropped-image"></div>
			<header id="main-panel">
				<div id="main-logo">
					<img src="../static/images/logo.png"/>
				</div>
				<div id="info-container" class="roboto-mono-normal">
					<div class="main-info">
						<div class="icon">
							<img src="../static/icons/icons8-country-72.png"/>
						</div>
						<div>
							<p>г. Ростов-на-Дону,</p>
							<p>просп. Будённовский 80,</p>
							<p>оф. 310</p>
						</div>
					</div>
					<div class="main-info">
						<div class="icon">
							<img src="../static/icons/icons8-ringer-volume-72.png"/>
						</div>
						<div>
							<p th:text="${email}">whatevermailadress@mail.ru</p> 
							<p th:text="${phone}">+7-111-111-11-11</p>
						</div>
					</div>
				</div>
				<div id="main-panel-free-space"></div>
			</header>
			<div id="nav-wrap">
				<div id="main-col-1"></div>
				<div id="main-col-2">
					<div id="nav-container">
						<nav id="top-nav" class="theme-nav">
							<div id="button-container">
								<a href="../section/metal_products" class="button button-nav-top roboto-mono-bold">Металлопрокат</a>
								<a href="../section/xxx" class="button button-nav-top roboto-mono-bold">Закладные детали</a>
								<a href="../section/service" class="button button-nav-top roboto-mono-bold">Услуги резки и гибки</a>
								<a href="../section/prices" class="button button-nav-top roboto-mono-bold">Прайслист</a>
								<a href="../section/delivery" class="button button-nav-top roboto-mono-bold">Доставка и оплата</a>
							</div>
						</nav>
						<div id="nav-bottom-space"></div>
					</div>
				</div>
				<div id="main-col-3"></div>
				<div id="main-col-4">
					<a href="../section/about"  id="special-button" class="button roboto-mono-bold">О компании</a>
					<!--<div id="dev" style="width: 30%; height: 20%; margin: auto; color: black; font-size: 2rem; align-content: center; text-align: center"></div> -->
				</div>
				<div id="main-col-5"></div>
			</div>
		</div>
	</body>
</html>