<html>
	<head>
        <title>Metal Partner</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/templatePage.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">
		<script src="../static/js/SizeAdaptor.js"></script>
		<script src="../static/js/templatePage.js"></script>
	</head>
    <body>
		<div>
			<header id="main-panel">
				<div id="info-container" class="roboto-mono-normal">
					<div class="main-info">
						<div class="icon">
							<img src="../static/icons/icons8-country-50.png"/>
						</div>
						<div class="label multivariant var2">
							<div class="rfs-12">
								<p>г. Ростов-на-Дону</p>
								<p>просп. Будённовский 80</p>
								<p>оф. 310</p>
							</div>
							<div hidden class="rfs-12">
								<p>г. Ростов-на-Дону</p>
							</div>
						</div>
					</div>
					<div id="main-logo" class="logo">
						<img src="../static/images/logo.png"/>
					</div>
					<div class="main-info">
						<div class="icon">
							<img src="../static/icons/icons8-ringer-volume-50.png"/>
						</div>
						<div class="label multivariant var2">
							<div class="rfs-12" th:text="${email}">
								<p>whatevermailadress@mail.ru</p>
								<p>+7-111-111-11-11</p>
							</div> 
							<div hidden class="rfs-12" th:text="${phone}">
								+7-111-111-11-11
							</div>
						</div>
					</div>
				</div>
			</header>
			<nav id="navigation" class="theme-nav" data-current-active="tab1">
				<div id="button-container">
					<label id="tab1" class="button-nav button roboto-mono-bold active">
						<p class="rfs-5">О компании</p>
					</label>
					<label id="tab2" class="button-nav button roboto-mono-bold">
						<p class="rfs-5">Металлопрокат</p>
					</label>
					<label id="tab3" data-variant-idx="0" class="button-nav button multivariant var2 roboto-mono-bold">
						<p class="rfs-7">Закладные детали</p>
						<p hidden class="rfs-5">Детали</p>
					</label>
					<label id="tab4" class="button-nav button multivariant var3 roboto-mono-bold">
						<p class="rfs-8">Услуги резки и гибки</p>
						<p hidden class="rfs-6">Резка и гибка</p>
						<p hidden class="rfs-5">Услуги</p>
					</label>
					<label id="tab5" class="button-nav button multivariant var2 roboto-mono-bold">
						<p class="rfs-8">Доставка и оплата</p>
						<p hidden class="rfs-8">Доставка</p>
					</label>
					<label id="tab6" class="button-nav button roboto-mono-bold">
						<p class="rfs-5">Прайслист</p>
					</label>
				</div>
			</nav>
		</div>
		<div id="content-page" th:text="${mainText}">
			<div id="dev">Ok</div>
		</div>
	</body>
</html>