<html>
	<head>
        <title>Metal Partner</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../css/templatePage.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">
		<script src="../js/templatePage.js"></script>
	</head>
    <body>
		<div>
			<header id="main-panel">
				<div id="info-container">
					<div class="main-info theme-info">
						<div class="icon">
							<img src="../icons/icons8-country-50.png"/>
						</div>
						<div class="roboto-mono-normal">
							<p>г. Ростов-на-Дону,<p>
							<p>просп. Будённовский 80,<p>
							<p>оф. 310<p>
						</div>
					</div>
					<div id="main-logo">
						<img src="../images/logo.png"/>
					</div>
					<div class="main-info theme-info">
						<div class="icon">
							<img src="../icons/icons8-ringer-volume-50.png"/>
						</div>
						<div class="roboto-mono-normal">
							<p th:text="${email}">........<p> 
							<p th:text="${phone}">........<p>
						</div>
					</div>
				</div>
			</header>
			<nav id="navigation" class="theme-nav" data-current-active="tab1">
				<div id="button-container">
					<label id="tab1" class="button button-nav theme-nav-button active roboto-mono-bold">Металлочерепица</label>
					<label id="tab2" class="button button-nav theme-nav-button roboto-mono-bold">Металлопрокат</label>
					<label id="tab3" class="button button-nav theme-nav-button roboto-mono-bold">О компании</label>
					<label id="tab4" class="button button-nav theme-nav-button roboto-mono-bold">Металообработка</label>
					<label id="tab5" class="button button-nav theme-nav-button roboto-mono-bold">Доставка</label>
				</div>
			</nav>
		</div>
		<div id="content-page" th:text="${mainText}">
		
		</div>
	</body>
</html>