

#main-panel {
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	
	height: 10%;
	width: 100%;
	
	background: var(--color-image-1);
	
	transform: scale(1, 1);
	transition:
		transform 0.2s;
		
	@starting-style {
		transform: scale(0.3, 1);
	}
}

#main-logo {
	flex: 0 0 44%;
	display: block;
	text-align: center;
	opacity: 1.0;
}

#main-logo > img {
	position: relative;
	top: 50%;
	height: 100%;

	transition: 
		transform 0.7s ease-out,
		opacity 0.4s linear 0.3s;
	
	@starting-style {
		transform: scale(2.3, 2.3);
		opacity: 0.0;
	}
}

#info-container {
	flex: 0 0 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 55%;
	height: 100%;
	margin: 0 0% 0 0;
}

.main-info {
	flex: 0 0 auto;
	display: grid;
	height: 100%;
	
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 100%;
	justify-content: space-between;
	
	overflow: hidden;
	
	color: var(--color-header-text);
	
	opacity: 1.0;
	
	transition: 
		opacity 0.4s linear 0.3s;
	
	@starting-style {
		opacity: 0.0;
	}
}

.main-info > div:last-child {
	width: 100%;
	
	text-align: center;
	align-content: center;
}

#main-panel-free-space {
	flex: 0 0 6%;
}

.icon {
	text-align: center;
	align-content: center;
}