html, body, header {
	margin: 0;
	height: 100%;

	font-size: calc(16px + 1vw);
}

body {
	overflow: hidden;
}

p {
	margin: 0px;
}

h1, h2, h3 {
	margin: 0px;
}


#page-header {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	
	height: var(--header-size);
	width: 100%;
}

#page-main {
	display: block;

	height: 100%;
	width: 100%;

	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: red black;

	> img {
		position: fixed;
		z-index: -1;
	}

	#page-main-scroll {
		display: flex;
		flex-direction: column;

		width: 80%;
		height: min-content;

		margin: auto;

		background: var(--color-background);

		#header-space {
			display: block;

			height: var(--header-size);
		}

		#page-content {
			flex: 1 0 min-content;
			display: block;
		}

		#page-footer {
			flex: 0 0 min-content;
			display: block;

			width: 100%;

			background: #111111;
			color: #FAFAFA;
		}
	}
}


@media (width >= 600px) {
	.var1 {
		display: none;	
	}

	.var2 {
		display: none;
	}

	.var3 {
		display: block;
	}
}

@media (width >= 1100px) {
	.var1 {
		display: none;	
	}

	.var2 {
		display: block;
	}

	.var3 {
		display: none;
	}
}

@media (width >= 1600px) {
	.var1 {
		display: block;
	}

	.var2 {
		display: none;
	}

	.var3 {
		display: none;
	}
}

