@import("admin-variables.css");

.admin-articles-container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	overflow-y: scroll; 
	justify-content: flex-start;
	align-content: center;
	flex-wrap: wrap;
}

.admin-article {
	flex: 0 0 auto;
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 1fr 28px;
	width: 85%;
	margin: 20px 0px 20px 0px;
}

.admin-article-frame {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	
	background: var(--color-bg);
	border: 4px solid var(--color-2);
	border-radius: 15px 15px 0px 15px;
	padding: 0px;
}

.admin-article-frame-unfolded {
	
}

.admin-article-content {
	height: min-content;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.admin-article-content-unfolded {
	
	transition: height 0.3s cubic-bezier(1, 0, 1, 0);
}

.admin-article-tab {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	
	background: var(--color-2);
	border-radius: 0px 0px 15px 15px;
	
	display: block;
	text-align: center;
	
	overflow: hidden;
}

.admin-article-tab-unfolded {
	
}

.admin-article-tab iframe{
	border: 0px;
}

@keyframes expanding {
	from {
		
	}
	
	to {
		
	}
}