@import url("admin-variables.css");

.custom-select {
	display: block;
	position: relative;
	border: 1px solid var(--color-text);
}

.custom-select > select {
	background: var(--color-bg);
	padding: 7px;
	font-family: var(--font-family);
	font-size: 1.2rem;
}