.card-wrap {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    .card {
        display: block;

        width: 80%;
        height: auto;
        min-height: max-content;

        /*aspect-ratio: 1.5 / 1;*/

        margin: auto;

        .card-table {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content min-content min-content 1fr min-content;

            width: 100%;
            height: 100%;

            background: var(--color-card-background);

            & .card-with-picture {
                grid-template-rows: min-content min-content min-content min-content min-content 1fr min-content;
            }
        }

        .card-divider {
            display: block;

            width: 100%;
            height: 6px;

            justify-self: center;
            align-self: center;
        }

        .title {
            display: block;

            height: 100%;

            margin: auto;
            padding: 0px 5px 0px 5px;
            text-align: center;
        }
    }
}

@media (width >= 600px) {
    .card-var1 {
        display: none;  
    }

    .card-var2 {
        display: none;
    }

    .card-var3 {
        display: block;
    }
}

@media (width >= 1100px) {
    .card-var1 {
        display: none;  
    }

    .card-var2 {
        display: block;
    }

    .card-var3 {
        display: none;
    }
}

@media (width >= 1500px) {
    .card-var1 {
        display: block;
    }

    .card-var2 {
        display: none;
    }

    .card-var3 {
        display: none;
    }
}