@import url("card.css");

.emparts-card {

}

.card-table {
    background: linear-gradient(30deg, #111111, #FCFCFC 6%, #FCFCFC 70%, #111111) !important;

}

.card-picture {
    display: block;

    padding: 10px;

    img {
        display: block;

        margin: auto;

        width: 200px;
        height: 320px;
    }
}

.button-container {
    display: flex;
    flex-direction: row;

    width: 90%;
    height: 5vh;

    padding: 5%;

    justify-content: center;
    
}

.card-order {
    display: block;

    height: 85%;
    width: 10em;

    border-radius: 8px;

    transition: 
            background 0.1s linear;
}

.card-order:hover {
    background: var(--color-button);
    color: var(--color-header-text);
    border: 2px solid var(--color-button-border);
}

















