<!DOCTYPE html>
<head>
    <head>
        <title>Admin</title>
        <link rel="stylesheet" type="text/css" href="file:///home/vadim/Desktop/website/backend/ecommerce-core/src/main/resources/templates/admin/main.css">
        <!--[if lt IE 9]>
            <script>
                var e = ("article, aside, figcaption, figure, footer, header, hgroup, section, time").split(', ');
                for (var i = 0; i < e.length; i++) {
                    document.createElement(e[i]);
                }
            </script>
        <![endif]-->
    </head>
    <body>
        <header class="header">
            <div class="div-exp">
                This is life
            </div>
        </header>
        <div class="section">
            <h1>Hello, this is admin page</h1>
        </div>
    </body>
</head>