<!DOCTYPE html>
<head>
	<head>
        <title>Admin Panel</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="./main.css">
		<meta name="description" content="Металлопрокат и другие изделия из металла с доставкой по Ростовской Области"
        <!--[if lt IE 9]>
            <script>
                var e = ("article, aside, figcaption, figure, footer, header, hgroup, section, time").split(', ');
                for (var i = 0; i < e.length; i++) {
                    document.createElement(e[i]);
                }
            </script>
        <![endif]-->
	</head>
    <body>
        <header class="header">
            <div class="main-panel">
                <h2>Металл Партнёр</h2>
            </div>
			<div class="log-in-block">
				<p>Администратор</p>
			</div>
			<div class="clear-item"></div>
        </header>
        <div class="section">
            <p>Загрузить новый прайс-лист</p>
        </div>
	</body>
</head>