/* -exp: experimental styles */
.div-exp { 
    background: #fc0;
    margin: 0;
    border-left: 1px solid #000;
}

.header {
    margin: 0;
}

.section {
    background: #fc4;
    margin: 0;
    border-left: 1px solid #000;
    padding-top: 1px;
}


html, body {
    
}

h1 {
    margin-top: 100px;
}