:root {
	--main-bg-color: #EFECCA;
	--secondary-color: #293241;
	--color-3: #FF6B6C;
	--color-4: #586A6A;
	--color-5: #4CC9F0;
	
}

body {
    background: var(--main-bg-color);
	margin: 0;
}

.header { 
    background: var(--secondary-color);
	color: var(--main-bg-color);
    margin: 0;
	height: 70px;
	overflow: hidden;
}

.main-panel { 
	width: 85%;
	display: inline-block;
}

.log-in-block {
	width: 15%;
	display: inline-block;
}

.section {
    background: var(--color-3);
	width: 100%;
    margin: 0;
    padding-top: 1px;
}

.clear-item {
	clear: both;
}

.footer { background: var(--secondary-color); color: var(--main-bg-color); clear: left; }

h2 {
	margin-top: 10px;
}